* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    flex-direction: column;
    height: fit-content;
    padding: 2rem;
    min-height: 100vh;
}
h1 {
    margin-bottom: 5rem;
}
div#qrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
input[type="file"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
a {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 3rem;
    text-decoration: none;
}
a:hover {
    background-color: #0056b3;
}
li {
    padding: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1rem;
    width: fit-content;
}
li h2 {
    margin-bottom: 1rem;
}
label {
    width: 100%;
}
select {
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="url"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}
input[type="number"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

/* social media mode */
button#redirectBtn {
    padding: 15px 8px;
    background-color: red;
    color: white;
    border: 0.1px rgba(0, 0, 0, 0.548) solid;
    border-radius: 10px;
}
button#redirectBtn:active {
    border: 0.5px rgb(0, 0, 0) solid;
}
button#socialQrsBtn {
    padding: 12px 10px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: 0.1px rgba(0, 0, 0, 0.548) solid;
    border-radius: 10px;
}
input#endNumInp {
    margin-bottom: 50px;
}